[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jsonapi = {extras = ["django-filter", "openapi"], version = "*"}
django-filter = "*"
mysqlclient = "*"

[dev-packages]
ipython = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
manage = "python manage.py"
start = "python manage.py runserver"
mm = "python manage.py makemigrations"
mg = "python manage.py migrate"
cs = "python manage.py collectstatic"
test = "python manage.py test"
shell = "python manage.py shell"
